.select {
	width: 235px;
	position: relative;
	padding: 0 0 20px 0;
	margin: 0;
}

.select__active .select__body{
display: block;
}

.select__header {
	display: flex;
	border-bottom: #f2f2f2 solid 0.7px;
	margin: 5px 0 0;
	padding: 0 0 0 0.4px;
	cursor: pointer;
}

.select__current {
	position: relative;
	height: 28px;
	font-size: 14px;
	line-height: 32.41px;
	color: #111;
	font-weight: 500;
}

.select__icon {
	background-image: url("../../src/image/select.svg");
	background-repeat: no-repeat;
	background-position: right;
	border: none;
	width: 8px;
	height: 4px;
	position: relative;
	top: 10px;
	right: -173px;
	/* background-color: #fff; */
	/* cursor: pointer; */
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	flex-shrink: 0;
	justify-content: center;
	text-align: center;
}


.select__body {
	border: 0.7px solid #f2f2f2;
	border-top: 0;
	left:0;
	position: absolute;
	right: 0;
	width: 100%;
	background-color: #fff;
	z-index: 3;
	display: none;
}

.select__item{
	font-size: 14px;
line-height: 16.41px;
color: #111;
font-weight: 400;
margin: 0;
padding: 0;
cursor: pointer;
}

.select__item:hover{
	font-weight: 500;
}