.register__main {
	margin: 0;
	padding: 0 21px;
	max-width: 527.8px;
	display: flex;
	justify-content: center;
	border: 1px solid red;
	align-items: center;
}

/* Введены изменения в значения внутренних отступов для 
адаптирования формы под небольшие экраны */
@media screen and (max-width: 459px) {
	.register__main {
		padding: 0;
	}
}
